@model Website.Models.JobSkill

@{
    ViewBag.Title = "Delete";
}

<div class="main-container-wrap">
    <h2>@ViewBag.Title</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>JobSkill</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SkillType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SkillType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SkillCategory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SkillCategory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobSkillName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobSkillName)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>