@model IEnumerable<Website.Models.Language>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LanguageCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishLanguageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NativeLanguageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnglishLanguageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NativeLanguageName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LanguageCode }) |
            @Html.ActionLink("Details", "Details", new { id = item.LanguageCode }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LanguageCode })
        </td>
    </tr>
}

</table>
